# API 설정
VITE_API_BASE_URL=http://localhost:8000

# 개발 환경 설정
VITE_APP_TITLE=계약서 분석 AI
VITE_APP_VERSION=1.0.0
VITE_NEO4J_URI=bolt://127.0.0.1:7687
VITE_NEO4j_USER=neo4j
VITE_NEO4J_PASSWORD=비밀번호
VITE_NEO4J_DATABASE=neo4j