# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Build & Distribution
/dist/
/build/

# Log files
*.log

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Uploaded files
/uploads/

# Evaluation results
/evaluate_ko/*_result.json
/evaluate_ko/gemini_results_*.json


# Virtual Environments
.venv/
venv/

# Temporary files
*.tmp
*.temp

# Experiment data and logs
/experiment/*.log
/experiment/*.txt

# Legacy entries (기존 설정 유지)
*.ini

*.pkl
*.index
benchmark_data
result
*.npy
*.graphml



/import/
*with_emb.csv
/tests/
/example_data/
todo.md

